/* DIV--PLAT */
/* --------------------------------------------------- */

.div--categorie--plats {
  padding: var(--xs) 0;

  @media (min-width: 748px) {
    padding: var(--s) 0;
  }

  @media (min-width: 1024px) {
    padding: var(--m) 0;
  }

  @media (min-width: 1440px) {
    padding: var(--xl) 0;
  }


}

.div--plat {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  gap: var(--xxxs);
  margin: 0;
  margin: 0 1rem;
  height: 300px;

  @media (min-width: 748px) {
    height: 350px;
    margin: 0 1.5rem;

  }

  @media (min-width: 1024px) {
    height: 400px;
    margin: 0 2rem;
  }

  @media (min-width: 1440px) {
    height: 500px;
    margin: 0 3rem;
  }




  .image--plat {
    z-index: 0;
    object-fit: contain;
    height: 170px;
    padding: var(--xxs);
    align-self: start;

    @media (min-width: 748px) {
      height: 200px;
    }


    @media (min-width: 1440px) {
      height: 225px;
    }


  }

  .info--plat {
    border-radius: 15px;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: var(--noir);
    text-align: center;
    align-self: start;
    padding: 0 16px;

    
  }



}

.rouge {
  .info--plat {
    color: var(--rouge-dark);


  }
}

.orange {
  .info--plat {
    color: var(--orange-dark);
    ;


  }
}

.jaune {
  .info--plat {
    color: var(--jaune-dark);
  }
}

.bleu {
  .info--plat {
    color: var(--bleu);
  }
}

.bleu--gris {
  .info--plat {
    color: var(--bleu-gris);
  }
}