.fenetre--plat {
    display: grid;
    box-sizing: content-box;
    grid-template-rows: auto 1fr;

    align-items: top;
    z-index: 5;
    position: fixed;
    top: 50%;
    right: 50%;
    height: 0vh;
    width: 0vw;
    overflow-x: hidden;
    background-color: rgba(255, 246, 230, 0.95);
    translate: 50% -40%;

    @media (min-width: 1024px) {
        grid-template-rows: auto 1fr;
        place-content: center;
    }


    .fenetre--plat--contenu {
        max-height: 100%;
        height: 100%;
        width: inherit;
        display: grid;
        align-items: top;
        justify-items: start;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 3fr;
        overflow: hidden;
        padding: 0 var(--xs);

        @media (min-width: 450px) {

            padding: 0 var(--xs);
        }


        @media (min-width: 1024px) {
            padding: 0 var(--m) var(--m);
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
        


        }

    }

    .fenetre--plat--haut {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;

        @media (min-width: 1024px) {
            height: 80%;
        }
    }

    .image--fenetre--plat {

        /* object-fit: cover;
        height: 20vh;
        padding-bottom: 16px;
        width: 100%; */

        /* @media (min-width: 450px) {
            height: 30vh;
        } */

        /* @media (min-width: 600px) {
            height: 35vh;
        } */

        /* @media (min-width: 748px) {
            height: 40vh;
        } */

        /* @media (min-width: 900px) {} */

        /* @media (min-width: 1024px) {
            height: 50vh;
        }

        @media (min-width: 1440px) {} */

        /* 
        @media (min-width: 748px) {
            height: 40vh;
        }

         @media (min-width: 900px) {
            height: 35vh;
        }

        @media (min-width: 1024px) {
            height: 30vh;
        }

        @media (min-width: 1440px) {
           

        } */
    }

    .info--fenetre--plat {

        margin-top: var(--xxxs);



        @media (min-width: 748px) {
            margin-top: var(--xxs);

        }

        @media (min-width: 1024px) {
            margin-top: 0;
            padding: var(--m);
        }
    }

    p.prix {
        font-family: 'Louis George Cafe Regular';
    }

}